name: deploy-container

on:
  push:
    branches:
      - main
    paths:
      - "packages/container/**"

defaults:
  run:
    working-directory: packages/container

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16 #- uses: actions/checkout@v2
      - name: Checkout code
        uses: actions/checkout@v2
      - run: npm install
      - run: npm run build

      - uses: shinyinc/action-aws-cli@v1.2
      - run: aws s3 sync dist s3://git-frontend-dashboard/container/latest
      - run: aws configure list
        env:
          AWS_ACCESS_KEY_ID: AKIAS6COCYZHUNQAZFMR
          AWS_SECRET_ACCESS_KEY: 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
